{% extends 'base.html' %}

{% block title %}Página de Usuario - Tienda Electrónica{% endblock %}

{% block heading %}Bienvenido a la Página de Usuario{% endblock %}

{% block nav %}
    {{ block.super }}
    <!-- Agregar enlaces específicos de usuario si es necesario -->
{% endblock %}

{% block content %}
    <h1>Bienvenido lista de usuario</h1>
    <a href="{% url 'new' %}">Crear Nuevo Usuario <a>
    {% for user in object_list %}
        <li>{{user.dni}} -- {{user.telefono}} --{{user.direccion}} -- {{user.tarjeta}}  </li>
        <a href="{% url 'edit' user.id %}">Edit</a>
        <a href="{% url 'delete' user.id %}">Delete</a>
    {% endfor %}
    
{% endblock %}
